<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
            with font-awesome or any other icon font library -->
        <li class="nav-item">
            <a href="dashboard.html" class="nav-link">
                <i class="nav-icon fas fa-tachometer-alt"></i>
                <p>Tableau de Bord</p>
            </a>																
        </li>
        <li class="nav-item">
            <a href="main-category.html" class="nav-link">
                <i class="nav-icon fas fa-file-alt"></i>
                <p>Categories</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="main-subcategory.html" class="nav-link">
                <i class="nav-icon fas fa-file-alt"></i>
                <p>Sous Categories</p>
            </a>
        </li>
        
        <li class="nav-item">
            <a href="products.html" class="nav-link">
                <i class="nav-icon fas fa-tag"></i>
                <p>Articles</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="immobiliers.html" class="nav-link">
                <i class="nav-icon fas fa-tag"></i>
                <p>Immobiliers</p>
            </a>
        </li>
                            
    </ul>
</nav>